/* 하단바 */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #dedbde;
  padding-bottom: 10px;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  font-size: 12px;
}

.footer-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.footer-block button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.footer-block img {
  width: 25px;
  height: 25px;
  margin-bottom: 4px;
  z-index: 1;
  cursor: pointer;
}

@keyframes img-moving {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.select_block:hover > img {
  animation: 1.5s img-moving infinite;
}
